{% extends 'flatpages/default.html' %}
{% load custom_filter %}
{% load custom_tags %}
{% load cache %}

{% block title %}
Post
{% endblock title %}


{% block content %}

<h1>Статьи и новости</h1>

<form action="" method="get">
    {{ filterset.form.as_p }}
    <input type="submit" value="Найти"/>
</form>


{% if posts %}

<h5>Количество статей: {{ posts|length}}</h5>

<table border="3" , cellpadding="5" , bgcolor="#faebd7">
{% cache 100 tr %}
    <tr bgcolor="black" style="color: bisque">
        <td><h2>Заголовок:</h2></td>
        <td><h4>Дата публикации:</h4></td>
        <td><h2>Содержание:</h2></td>
    </tr>
{% endcache %}

    {% for pst in posts %}
    {% if pst.position == 'NW'%}

    <tr>

        <td align='left'><a class="nav-link" href="/newsportal/news/{{pst.pk}}">{{ pst.title }}</a></td>
        <td align="center">{{ pst.create_date|date:'d M Y'}} | {{ pst.author.user.username }}</td>
        <td align="left"><a class="nav-link" href="/newsportal/news/{{pst.pk}}">{{ pst.text|truncatewords:20 }}</a></td>

    </tr>
    {% else%}
    <tr>

        <td align='left'><a class="nav-link" href="/newsportal/articles/{{pst.pk}}">{{ pst.title }}</a></td>
        <td align="center">{{ pst.create_date|date:'d M Y'}} | {{ pst.author.user.username }}</td>
        <td align="left"><a class="nav-link" href="/newsportal/articles/{{pst.pk}}">{{ pst.text|truncatewords:20 }}</a>
        </td>

    </tr>
    {%endif%}
    {%endfor%}

</table>
    <br>
{% else %}
<h2>Статья не найдена</h2>
{% endif %}

{% if page_obj.has_previous %}
<a href="?{% url_replace page=1 %}">1</a>
{% if page_obj.previous_page_number != 1 %}
...
<a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
{% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
<a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
{% if paginator.num_pages != page_obj.next_page_number %}
...
<a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
{% endif %}
    <br>
{% endif %}
<br>
{% endblock content %}

