<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Уведомление</title>
</head>
<body>
<h2>Здравствуйте. Список Ваших любимых статей за прошедшую неделю.</h2>
<ul>{% for post in posts %}
    {% if post.position == 'NW' %}
        <p>{{ post.preview }}</p>
        <li> <a href="{{ link }}/news/{{ post.pk }}"> {{ post.title }}</a></li>
    {% else %}
        <p>{{ post.preview }}</p>
        <li> <a href="{{ link }}/articles/{{ post.pk }}"> {{ post.title }}</a></li>
    {%  endif%}
{% endfor %}
</ul>
</body>
</html>